.nav-bar {
    display: flex;
    justify-content: space-between;
    /*background-color: aquamarine;*/
    align-items: center;
    min-height: 8vh;
}

.atube-left {
    display: flex;
    /*justify-content: space-between;*/
    /*background-color: blue;*/
    width: 20%;
    
}
#logo {
    color: red; 
}


.fas {
  padding-right: 20px;
  padding-left: 10px;
}

a {
  color: black;
  
}

.atube-left {
 /* background-color: purple;*/
  width: 20%;
  display: flex;
  /*justify-content: space-between;*/
}

/*#search {
  background-color: purple;
}*/

.atube-right {
  display: flex;
  /*background-color: purple;*/
  width: 20%;
  justify-content: flex-end;
  /*padding-right: 50px;*/
  align-items: flex-end;
}



/* source code-stackoverflow, now modified */
input[type="text"] {
  width: 600px;
  height: 26px;
  padding-right: 50px;
  /*background-color: purple;*/
  /*display: flex;*/
  justify-content: center;
  margin-right: 70px;
}

button[type="search-icons"] {
  margin-left: -74.5px;
  height: 31.2px;
  width:75px;
  /*border-style: solid;*/

}


.container-left {
  
  width: 65%;
  height: 45em;
 /* background-color: grey;*/
  float: left;
  padding-left: 30px;
  /*box-sizing: border-box;*/
  /*flex-wrap: wrap;*/
  
  
}

.video {
  width: 980px;
  height: 540px;
}

.container-right {
  /*display: flex;*/  
  width: 30%;
  height: 45em;
 /* background-color: green;*/
  float: right;
}



.os-contibution {
  display: flex;
  justify-content: space-between;
}

.subscribers {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  /*background-color: red;*/
  align-items: center;
  
}
/*.avatar {
  display: flex;
  justify-content:  ;
}*/

section .button {
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
}

.likes {
  display: flex;
  justify-content: space-around;
 /* background-color: red;*/
  width: 40%;
  align-items: center;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 /* background-color: orange;*/
}

.video-img-1 {
 /* background-color: red;*/
  display: flex;
  align-items: center;
}

.video-img-2 {
  /*background-color: yellow;*/
  display: flex;
  align-items: center;
}


.video-img-3 {
  /*background-color: lavender;*/
  display: flex;
  align-items: center;
}

.video-img-4 {
  /*background-color: skyblue;*/
  display: flex;
  align-items: center;
}

.video-img-5 {
  /*background-color: darkcyan;*/
  display: flex;
  align-items: center;
}

.video-img-6 {
  /*background-color: darkgreen;*/
  display: flex;
  align-items: center;
}

.video-img-7 {
  /*background-color: burlywood;*/
  display: flex;
  align-items: center;
}

