/* removes text under-line */
a {
  text-decoration: none;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.atube-left {
    display: flex;
    width: 20%;
    align-items: center;
    
}
#logo {
    color: red; 
}


.fas {
  padding-right: 20px;
  padding-left: 10px;
}

a {
  color: black;
  
}

.atube-left {
  width: 20%;
  display: flex;
}

.atube-right {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: flex-end;
}



/* source code-stackoverflow, now modified */
input[type="text"] {
  width: 600px;
  height: 26px;
  padding-right: 50px;
  justify-content: center;
  margin-right: 70px;
}

button[type="search-icons"] {
  margin-left: -74.5px;
  height: 31.2px;
  width:75px;

}


.container-left {
  
  width: 65%;
  height: 45em;
  float: left;
  padding-left: 30px;
  
}

.video {
  width: 980px;
  height: 540px;
}

.container-right {
  
  width: 30%;
  height: 45em;
  float: right;
}



.os-contibution {
  display: flex;
  justify-content: space-between;
  
}

.subscribers {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  height:20vh;
  
}
.views {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  width: 60%;
 
}
  .avatar {
    background-color: #73E361;
    width: 20%;
    padding: 25px 3px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


  }

 .button {
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 8px;
}

.button a {
  color: #fff;
  
}



.likes {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
  
}
/* removes list-item marker*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.odin {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.container-right .video-img {
  display: flex;
  align-items: center;
  padding-right: 5px; 
}


.sidecontenttext {
  padding-left: 10px;
}
.secondarytext {
color: silver;
}
.toplogo {
height: 30px;
align-items: center;

}
